---
import HeroPage from "../components/HeroPage.astro";
import HistoryPage from "../components/HistoryPage.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import InfoModalities from "../components/InfoModalities.astro";
---

<Layout title="EEMPA | Página principal">
	<main>
		<HeroPage />
		<InfoModalities />
		<HistoryPage />
		<Footer />
	</main>
</Layout>
