<form class="relative w-full max-w-lg">
  <p class="mt-5 md:mt-0 mb-5 text-neutral-50 text-xl"><strong>Solicitar información</strong></p>
  <input class="py-2 px-4 placeholder:text-neutral-500 text-neutral-200 bg-neutral-800 w-full m-1" type="text" placeholder="*Nombre" required>
  <input class="py-2 px-4 placeholder:text-neutral-500 text-neutral-200 bg-neutral-800 w-full m-1" type="text" placeholder="*Apellido" required>
  <input class="py-2 px-4 placeholder:text-neutral-500 text-neutral-200 bg-neutral-800 w-full m-1" type="email" placeholder="*Email" required>
  <input class="py-2 px-4 placeholder:text-neutral-500 text-neutral-200 bg-neutral-800 w-full m-1" type="tel" placeholder="*Teléfono celular" required>

  <button class="w-full py-2 px-4 text-neutral-50 bg-blue-500 m-1 font-semibold hover:bg-blue-700" type="submit">Quiero más información</button>
</form>