<article
  class="bg-gradient-to-b from-blue-500 to-blue-700 w-full h-auto py-20 px-6"
>
  <h2 id="history_title" class="text-white text-4xl font-bold text-center">Lorem, ipsum dolor.</h2>

  <p class="mt-5 text-lg text-white font-medium">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ab amet nemo
    laboriosam obcaecati nam sunt inventore! Maxime ab possimus fugiat soluta
    saepe minima adipisci quis aperiam nobis, laboriosam sapiente mollitia minus
    enim illo aut vel asperiores accusamus facere modi quam! Quidem
    exercitationem omnis voluptatum obcaecati id facere accusantium dignissimos.
  </p>

  <p class="text-lg text-white font-medium">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error expedita
    consequuntur dignissimos, quibusdam quae alias. Velit vitae animi non
    tempore?
  </p>
</article>
